/* 파일: src/styles/globals.css */
@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;

}

body {
  font-family: var(--font-base);
  background-color: #F9FAFB;
  color: #111827;
}

/* Custom Reset additions if needed */
input[type="date"],
input[type="time"] {
  -webkit-appearance: none;
}